:root {
    --primario: #747474;
    --primarioOscuro: #cdcccc;
    --secundario: #00ff33;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--fuentePrincipal);
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* Globales */

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--negro);
}
a{
    text-decoration: none;
}

img {
    width: 100%;
}

/* Contenedor */
.contenedor{
    max-width: 120rem; /* que el contenedor sea máximo de 1200px */
    margin: 0 auto;
}

h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: (--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/*Header */

.header{
    display: flex; 
    justify-content: center;
    /* Para poder centrar el contenido primero hay que habilitar el display flex */
}

.header-logo{
    margin: 3rem 0; /* un margin de 30 pixeles arriba y abajo y 0 de left right */
}

/* Footer */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer-texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}

/* Navegación */

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0; /* el padding sirve para que el background se agrande tambien */
    display: flex;
    justify-content: center;
    gap: 2rem; /* con el gap me permite darle espacio a los enlaces para que no estén muy juntos */
}

.navegacion-enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    /* margin-right: 2rem; */ /*con el margin-right tambien puedo separar los enlaces */
}
.navegacion-enlace-activo,
.navegacion-enlace:hover{
    color: var(--secundario);
}

/* Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}
@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Producto */

.producto{
background-color: var(--primarioOscuro);
padding: 1rem;
/* max-width: 70rem;
height: auto; */
}



.producto-infomacion{

}

.producto-nombre{
    font-size: 4rem;
}

.producto-precio{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto-nombre,
.producto-precio {
    font-family: var(--fuentePrincipal);
    text-align: center;
    line-height: 1.2rem;
}

/* Gráfico */

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.grafico-camisas{
    grid-row: 2 / 3; /* de arriba a abajo quiero que me tome la segunda fila hasta el 3 */
    grid-column: 1 / 3; /* de Izquierda a derecha quiero que se extienda hasta el 3
    /*  con el grid row y colum me deja espacio para colocar una imagen grande */
    background-image: url(../img/grafico1.jpg);
}

.grafico-node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3; /* para que tome todo el espacio */
    grid-row: 8 / 9; /*para que la imagen se posicione en la antepenultima parte dejando las camisas graph y wordpress que estaban en esa posición, en la 9 / 10 */
}

@media (min-width: 768px) {
    .grafico-node{
        grid-row: 5 / 6; /* Contar de arriba abajo */ /* tomar la foto de la posición 5 hasta la posición 6 arriba abajo */
        grid-column: 2 / 4; /* Contar de izquierda derecha*/ /* dejar espacio desde la izquierda posición 2 hasta la derecha posición 4 */
    
    }
}

/* Nosotros */

.nosotros{
    /* ROW FILA (RIGHT LEFT) COLUM COLUMNA (UP DOWN) */
    display: grid;
    grid-template-rows:repeat(2, auto) ; /* con el auto toma el tamaño automático y hace que el texto al achicar la pantalla no se vaya para abajo  */
}


@media (min-width: 768px) {
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    
}


.nosotros-contenido{

}

.nosotros-imagen{
    grid-row: 1 / 2; /* coloca la imagen arriba y texto abajo */
}

@media (min-width: 768px) {
    .nosotros-imagen{
        grid-column: 2 / 3; /* colocar la imagen a la derecha */
    }
}

/* Bloques */

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
}

.bloques{
    text-align: center;
}

.bloque-imagen{
}

.bloque-titulo{
    margin: 0;
}

/*  Pagina del producto */

@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /*  gap: 2rem; */
        column-gap: 2rem; 
    }
    
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario-campo{
/* border-color: var(--primarioOscuro);
border-width: 1rem;
border-style: solid; */

/* ESTO ES EXACTAMENTE LO MISMO QUE ARRIBA (1.ancho / 2.Tipo / 3.Color */
border: 1rem solid var(--primarioOscuro);
background-color: transparent;
font-size: 2rem;
font-family: Arial, Helvetica, sans-serif;
padding: 1rem;
margin: 0.5rem;
}

.formulario-submit{
    background-color: var(--secundario);
    border: none;
    padding: 2rem;
    font-size: 2rem;
    transition: color, font-size 0.5s ease;
    grid-column: 1 / 3;
}

.formulario-submit:hover{
    cursor: pointer;
    color: var(--blanco);
    font-size: 2.4rem;
}